<ion-header>
  <ion-toolbar>
    <ion-title>4'N4</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Refrescador -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Contenedor de productos en dos columnas -->
  <div class="product-grid">
    <ion-card *ngFor="let p of products">
      <ion-img class="product-image" [src]="p.image"></ion-img>
      <ion-card-content>
        <div class="name">{{ p.name }}</div>
        <div class="data">
          <strong>Precio:</strong> {{ p.price | currency: 'COP' }} <br>
        </div>
        <ion-button expand="full" (click)="addToCart(p)">Añadir al carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Spinner de carga -->
  <ion-spinner *ngIf="loading" class="loading-spinner"></ion-spinner>
</ion-content>


