<ion-header>
  <ion-toolbar>
    <ion-title>4'N4</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()" routerLink="cart">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0" color="danger">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProducts()"></ion-searchbar>
</ion-header>

<ion-content>
  <!-- Refrescador -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Contenedor de productos en dos columnas -->
  <div class="product-grid">
    <ion-card *ngFor="let p of filteredProducts">
      <ion-img class="product-image" [src]="p.image"></ion-img>
      <ion-card-content>
        <div class="name">{{ p.name }}</div>
        <div class="data">
          <strong>Precio:</strong> {{ p.price | currency: 'USD' }} <br>

          <div class="quantity-controls" *ngIf="p.showQuantityControls">
            <ion-button (click)="decreaseQuantity(p)" [disabled]="p.quantity <= 0">-</ion-button>
            <span>{{ p.quantity }}</span>
            <ion-button (click)="increaseQuantity(p)">+</ion-button>
          </div>
        </div>
        <ion-button expand="full" (click)="toggleQuantityControls(p)">Añadir al carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Texto antes del mapa -->
  <div class="map-text" *ngIf="showMap && deliveryOption === 'tienda'">
    <p>Puedes encontrarnos en nuestros puntos de venta aquí:</p>
  </div>

  <div class="map-wrap" *ngIf="showMap && deliveryOption === 'tienda'">
    <div class="map" #map></div>
  </div>

  <!-- Spinner de carga -->
  <ion-spinner *ngIf="loading" class="loading-spinner"></ion-spinner>
</ion-content>